/* Importar la tipografía */


/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de color */

body {
    background-color: var(--color-green1); /* Fondo con verde medio */
    color: var(--color-green); /* Texto en verde oscuro */
    font-family: 'Roboto', sans-serif; /* Tipografía Roboto */
}