
h2.title.contact{
    margin-bottom: 0;
}


footer{
    background-color: #4627cdc4;

    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;

}

footer a:hover{
    transition: all 500ms;
    transform: scale(1.1);
    color: var( --color-secondary-- #0041f5);

}


footer a:hover i{
    transition: all 250ms;
    font-size: 45px;
}

footer a:hover h3{
    visibility: hidden;
}


footer a i{
    font-size: 50px;
}