h2.title.contact {
    margin-bottom: 0;
}

footer {
    background-color: var(--color-primary1); /* Cambiado a una variable de color para mayor consistencia */
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

footer a {
    color: var(--color-secondary); /* Color del texto de los enlaces */
    transition: color 500ms; /* Transición para el color */
}

footer a:hover {
    transform: scale(1.1);
    color: #0041f5; /* Color del texto en hover */
}

footer a:hover i {
    transition: all 250ms;
    font-size: 45px;
}

footer a:hover h3 {
    visibility: hidden;
}

footer a i {
    font-size: 50px;
}